.cart-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

